
@{
    ViewBag.Title = "Experiencia laboral";
}

<h2>Experiencia laboral: <b>@ViewBag.usuario.usuario</b></h2>

<legend></legend>
<div class="col-md-6">
    <a class="btn btn-danger" href="/Usuarios">
        <i class="glyphicon glyphicon-arrow-left"></i> Volver
    </a>
</div>

<div class="col-md-6 text-right">
    <a class="btn btn-primary" href="/Experiencia/Create/@ViewBag.usuario.LlaveUsuario">
        <i class="glyphicon glyphicon-plus"></i> Agregar experiencia
    </a>
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>País</th>
            <th>Empresa</th>
            <th>Puesto</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exp in Model) {
            <tr>
                <td>
                    @exp.pais
                </td>
                <td>
                    @exp.empresa
                </td>
                <td>
                    @exp.puesto
                </td>
                <td>
                    @exp.fechaInicio
                </td>
                <td>
                    @exp.fechaFin
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        @Html.ActionLink("Editar", "Edit", new { id = exp.LlaveExpLab }, new { @class = "btn btn-warning" })
                        <button type="button" class="btn btn-danger" onclick="deleteExp(@exp.LlaveExpLab);">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        const deleteExp = (id) => {
            if (confirm('Una vez eliminado la experiencia no se podrá recuperar la información \n¿Desea continuar?')) {
                $.ajax({
                    url: '/Experiencia/Delete/' + id,
                    method: 'post',
                    dataType: 'json',
                    beforeSend: () => {
                        $('.bs-example-modal-sm').modal('show');
                    },
                    success: (data) => {
                        $('.bs-example-modal-sm').modal('hide');

                        if (data.status == 1) {
                            window.location.href = '/Experiencia/Usuario/@ViewBag.usuario.LlaveUsuario';
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: () => {
                        alert('Algo ha salido mal, contacta con tu administrador del sistema');
                        $('.bs-example-modal-sm').modal('hide');
                    }
                });
            }
        };
    </script>
}