@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
<legend></legend>
<div class="text-right">
    <a class="btn btn-primary" href="/Usuarios/Create">
        <i class="glyphicon glyphicon-plus"></i> Agregar usuario
    </a>
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Correo electrónico</th>
            <th>Fecha de alta</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>
                    @user.usuario
                </td>
                <td>
                    @user.email
                </td>
                <td>
                    @user.fechaAlta.Date.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        @Html.ActionLink("Datos personales", "Details", new { id = user.LlaveUsuario }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Experiencia", "Details", new { id = user.LlaveUsuario }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Editar", "Edit", new { id = user.LlaveUsuario }, new { @class = "btn btn-warning" })
                        <button type="button" class="btn btn-danger" onclick="deleteUser(@user.LlaveUsuario);" >Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center col-md-4 col-md-offset-4">
    <button class="btn btn-block btn-primary" id="printUsers" type="button">
        <i class="glyphicon glyphicon-print"></i>
        Imprimir usuarios
    </button>
</div>
<div class="clearfix"></div>

@section scripts {
    <script>
        const deleteUser = (id) => {
            if (confirm('Una vez eliminado el usuario no se podrá recuperar la información \n¿Desea continuar?')) {
                $.ajax({
                    url: '/Usuarios/Delete/' + id,
                    method: 'get',
                    dataType: 'json',
                    beforeSend: () => {
                        $('.bs-example-modal-sm').modal('show');
                    },
                    success: (data) => {
                        $('.bs-example-modal-sm').modal('hide');

                        if (data.status == 1) {
                            window.location.href = '/Usuarios';
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: () => {
                        alert('Algo ha salido mal, contacta con tu administrador del sistema');
                        $('.bs-example-modal-sm').modal('hide');
                    }
                });
            }
        };
    </script>
}